.lightrope {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    margin: -15px 0 0 0;
    padding: 0;
    pointer-events: none;
    /* Чтобы не мешала кликам, но hover тогда не сработает */
    width: 100%;
}

.lightrope li {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 12px;
    height: 28px;
    border-radius: 50%;
    margin: 20px;
    background: white;

    /* Основная настройка анимации */
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-duration: 2s;
}

/* Провод */
.lightrope li:before {
    content: "";
    position: absolute;
    background: #222;
    width: 10px;
    height: 9px;
    border-radius: 3px;
    top: -4px;
    left: 1px;
}

/* Настройка цветов и разной скорости мигания */
.lightrope li:nth-child(4n+1) {
    background: #ff2121;
    box-shadow: 0px 5px 20px 2px #ff2121;
    animation-name: flash-red;
    animation-duration: 0.8s;
}

.lightrope li:nth-child(4n+2) {
    background: #00fbff;
    box-shadow: 0px 5px 20px 2px #00fbff;
    animation-name: flash-blue;
    animation-duration: 1.2s;
}

.lightrope li:nth-child(4n+3) {
    background: #f7be10;
    box-shadow: 0px 5px 20px 2px #f7be10;
    animation-name: flash-yellow;
    animation-duration: 1.5s;
}

.lightrope li:nth-child(4n+4) {
    background: #4de94c;
    box-shadow: 0px 5px 20px 2px #4de94c;
    animation-name: flash-green;
    animation-duration: 1s;
}

/* Описания анимаций для каждого цвета */
@keyframes flash-red {

    0%,
    100% {
        opacity: 1;
        box-shadow: 0px 5px 20px 5px #ff2121;
    }

    50% {
        opacity: 0.4;
        box-shadow: 0px 2px 10px 1px rgba(255, 33, 33, 0.2);
    }
}

@keyframes flash-blue {

    0%,
    100% {
        opacity: 1;
        box-shadow: 0px 5px 20px 5px #00fbff;
    }

    50% {
        opacity: 0.4;
        box-shadow: 0px 2px 10px 1px rgba(0, 251, 255, 0.2);
    }
}

@keyframes flash-yellow {

    0%,
    100% {
        opacity: 1;
        box-shadow: 0px 5px 20px 5px #f7be10;
    }

    50% {
        opacity: 0.4;
        box-shadow: 0px 2px 10px 1px rgba(247, 190, 16, 0.2);
    }
}

@keyframes flash-green {

    0%,
    100% {
        opacity: 1;
        box-shadow: 0px 5px 20px 5px #4de94c;
    }

    50% {
        opacity: 0.4;
        box-shadow: 0px 2px 10px 1px rgba(77, 233, 76, 0.2);
    }
}